* {
  margin: 0;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  background: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  overflow-x: hidden;
}
.container {
	min-height: 107vh;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  font-size: 1.8em;
  color: #606e85;
}
.container *{
	margin: 0.5rem;
}
.h2{
  text-align: center;
  margin: 1.5rem 0;
  border-bottom: 1px solid white;
}

button {
  background: hsl(229, 64%, 46%);
  border-radius: 10px;
  padding: 18px;
  border: none;
  box-shadow: 2px 2px 2px #eee;
  margin: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: .5s;
}
button:hover{
  color: #dc2e4e;
}
button:active{
	animation: button .8s ease;
}
@keyframes button{
	to{ transform: scale(0.85);}
}
#rules {
  min-height: 100vh;
  background: linear-gradient(to left, hsl(214, 47%, 23%), hsl(237, 49%, 15%));;
  color: #fffdfd;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem .5rem;
  line-height: 1.5;
}
h1 {
  text-align: center;
}
hr {
  margin: 0 auto;
  width: 400px;
}
p {
  padding-top: 15px;
}
#example {
  padding-top: 6px;
  display: block;
}
#exapmle #example-list li {
  list-style-type: none;
}
.instructions {
  padding: 18px;
}
#ps {
  padding-top: 5px;
}
.instructions .play {
  text-align: center;
}
